.form-item textarea {
	border: none;
	width: 100%;
	margin-top: 3px !important;
	height: 28px;
	font-size: 16px;
	color: #2e1f04;
	border: none;
	outline: 0;
	resize: vertical !important;
	border-bottom: 1px solid #cacaca;
	transition: font-size .25s;
}

.form-item:not(.form-item_not-focus) textarea:focus {
	font-size: 28px;
}

.form-item:not(.form-item_not-focus) textarea:focus::-webkit-input-placeholder {
	font-size: 28px;
}

.form-item:not(.form-item_not-focus) textarea:focus::-moz-placeholder {
	font-size: 28px;
}

.form-item:not(.form-item_not-focus) input[type="email"]:focus,
.form-item:not(.form-item_not-focus) input[type="tel"]:focus,
.form-item:not(.form-item_not-focus) input[type="text"]:focus {
	font-size: 28px;
	height: 32px;
}

.form-item:not(.form-item_not-focus) input[type="text"]:focus::-webkit-input-placeholder,
.form-item:not(.form-item_not-focus) input[type="tel"]:focus::-webkit-input-placeholder,
.form-item:not(.form-item_not-focus) input[type="email"]:focus::-webkit-input-placeholder {
	font-size: 28px;
	height: 32px;
}


.form-item:not(.form-item_not-focus) input[type="text"]:focus::-moz-placeholder,
.form-item:not(.form-item_not-focus) input[type="tel"]:focus::-moz-placeholder,
.form-item:not(.form-item_not-focus) input[type="email"]:focus::-moz-placeholder {
	font-size: 28px;
	height: 32px;
	transition: .25s;
}

.form-item:not(.form-item_not-focus) textarea:focus:-moz-placeholder,
.form-item:not(.form-item_not-focus) input[type="email"]:focus:-moz-placeholder,
.form-item:not(.form-item_not-focus) input[type="tel"]:focus:-moz-placeholder,
.form-item:not(.form-item_not-focus) input[type="text"]:focus:-moz-placeholder {
	font-size: 28px;
	height: 32px;
	transition: .25s;
}

#circle-main-menu {
	position: fixed;
	top: 50%;
	left: 0;
	width: 530px;
	height: 530px;
	-webkit-transform: translate(-330px, -50%);
	        transform: translate(-330px, -50%);
}

#circle-main-menu svg {
	-webkit-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	fill: none;
}

#circle-main-menu svg circle {
	stroke-dasharray: 249.757, 1665.04;
	-webkit-transition: stroke-dasharray 1s;
	transition: stroke-dasharray 1s;
}

.circle-main-menu__list {
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	height: 530px;
	width: 200px;
}

.circle-main-menu__list ul {
	width: 100%;
	height: 100%;
	position: relative;
	list-style-type: none;
}

.circle-main-menu__list li {
	position: absolute;
}

.circle-main-menu__list li a {
	display: inline-block;
	white-space: nowrap;
	font-family: Oswald;
	font-size: 12px;
	line-height: 16px;
	color: #767676;
	padding-left: 12px;
}

.circle-main-menu__list li a span {
	opacity: 0;
	pointer-events: none;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}

.circle-main-menu__list li a::before {
	position: absolute;
	top: 50%;
	left: 0;
	content: "";
	width: 4px;
	height: 4px;
	background-color: #5d5d5d;
	-webkit-box-shadow: 0px 2px 4px #0000001f;
	        box-shadow: 0px 2px 4px #0000001f;
	border-radius: 50%;
	-webkit-transition: .25s;
	transition: .25s;
}

.circle-main-menu__list li.selected a span {
	opacity: 1;
	pointer-events: auto;
}

.circle-main-menu__list li.selected a::before {
	-webkit-transform: scale(1.5);
	        transform: scale(1.5);
	background-color: #c29239;
	-webkit-box-shadow: 0px 2px 4px #ffcccc1f;
	        box-shadow: 0px 2px 4px #ffcccc1f
}

.circle-main-menu-buttons {
	height: 100%;
	position: absolute;
	top: 0;
	right: 110px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.circle-main-menu__button {
	margin-top: 7px;
	margin-bottom: 7px;
	cursor: pointer;
}

.footer-home {
	position: fixed;
	bottom: 0;
	left: 0;
}

@media only screen and (max-width: 992px) {
	#circle-main-menu {
		display: none;
	}
}