@font-face {
	font-family: Oswald;
	src: url(../fonts/Oswald/Oswald-Regular.woff2) format("woff2"), url(../fonts/Oswald/Oswald-Regular.woff) format("woff"), url(../fonts/Oswald/Oswald-Regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Oswald;
	src: url(../fonts/Oswald/Oswald-Light.woff2) format("woff2"), url(../fonts/Oswald/Oswald-Light.woff) format("woff"), url(../fonts/Oswald/Oswald-Light.ttf) format("truetype");
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: Lato;
	src: url(../fonts/Lato/Lato-Black.woff2) format("woff2"), url(../fonts/Lato/Lato-Black.woff) format("woff"), url(../fonts/Lato/Lato-Black.ttf) format("truetype");
	font-weight: 900;
	font-style: normal
}

@font-face {
	font-family: Lato;
	src: url(../fonts/Lato/Lato-Regular.woff2) format("woff2"), url(../fonts/Lato/Lato-Regular.woff) format("woff"), url(../fonts/Lato/Lato-Regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block
}

body {
	position: relative;
	min-height: 500px;
	margin: 0 auto;
	font-family: Lato, sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #000
}

h1 {
	font-size: 60px;
	line-height: 70px;
	font-family: Oswald;
	color: #2e1f04
}

h2 {
	font-weight: 300;
	font-size: 46px;
	line-height: 56px;
	color: #2e1f04;
	font-family: Oswald
}

h3 {
	font-size: 30px;
	line-height: 40px
}

h4 {
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
	color: #c4c4c4;
}

h5 {
	font-size: 16px;
	line-height: 20px
}

h6 {
	font-size: 14px;
	line-height: 20px
}

a {
	color: #000;
	text-decoration: none;
	outline: 0;
	-webkit-transition: all .3s ease;
	transition: all .3s ease
}

a:hover {
	opacity: .7;
	text-decoration: none;
	outline: 0;
	color: inherit
}

a:active {
	opacity: .6;
	outline: 0;
	color: inherit;
	text-decoration: none
}

a:focus {
	outline: 0;
	color: inherit;
	text-decoration: none
}

button,
input,
select,
textarea {
	padding: 0;
	-webkit-transition: all .3s ease;
	transition: all .3s ease
}

button:hover,
input:hover,
select:hover,
textarea:hover {
	opacity: .8
}

strong {
	font-weight: 700
}

em {
	font-style: italic
}

img {
	max-width: 100%
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.row {
	margin-left: -20px;
	margin-right: -20px
}

.row-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.row [class^=col-] {
	padding-left: 20px;
	padding-right: 20px
}

.content {
	min-height: calc(100vh - 189px)
}

.container {
	max-width: 1920px;
	width: auto;
	margin: 0 auto;
	padding-left: 175px;
	padding-right: 175px
}

.container-inner {
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px
}

.justify-align {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.left-align {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.right-align {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end
}

.center-align {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

::-webkit-input-placeholder {
	color: #767676;
	font-size: 16px;
	text-indent: 0;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}

:-moz-placeholder {
	color: #767676;
	font-size: 16px;
	text-indent: 0;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}

::-moz-placeholder {
	color: #767676;
	font-size: 16px;
	text-indent: 0;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}

:-ms-input-placeholder {
	color: #767676;
	font-size: 16px;
	text-indent: 0;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}

.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 18px 80px;
	-webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, .06);
	box-shadow: 0 2px 12px rgba(0, 0, 0, .06);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #ffffffe6;
	z-index: 100;
}

@supports(backdrop-filter:blur(15px)) {
	.header {
		backdrop-filter: blur(15px);
	}
}

.header-left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.header-left .weather {
	padding: 0 60px 0 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 10px;
	line-height: 14px
}

.header-left .weather-temperature {
	padding-right: 4px;
	font-family: Oswald;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 36px
}

.header-left .weather-state {
	padding-left: 12px
}

.header-right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.header-right>.btn {
	margin: 0 40px
}

.header-tel {
	text-align: right
}

.header-tel__number {
	display: block;
	font-size: 16px;
	line-height: 28px
}

.header-tel__question {
	color: #c29239;
	font-size: 10px;
	line-height: 14px;
	text-transform: uppercase;
	border-bottom: 1px dashed
}

.header-fixed {
	background: rgba(255, 255, 255, .9);
	-webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, .06);
	box-shadow: 0 2px 12px rgba(0, 0, 0, .06);
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px)
}

.main-menu>ul {
	list-style: none
}

.main-menu>ul>li {
	display: inline-block;
	padding: 0 25px
}

.main-menu>ul>li:first-child {
	padding-left: 0
}

.main-menu>ul>li:last-child {
	padding-right: 0
}

.main-menu>ul>li>a {
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	color: #767676
}

.main-menu>ul>li>a.active,
.main-menu>ul>li>a:focus,
.main-menu>ul>li>a:hover {
	color: #2e1f04;
	opacity: 1
}

.color-grey {
	color: #767676
}

.btn {
	position: relative;
	display: inline-block;
	padding: 11px 35px 11px;
	font-size: 10px;
	line-height: 12px;
	background: #67d278;
	border: none;
	border-radius: 2px;
	color: #fff;
	text-align: center;
	outline: 0;
	text-transform: uppercase;
	white-space: normal
}

.btn:focus,
.btn:hover {
	color: #fff;
	outline: 0
}

.btn-transparent {
	padding: 11px 21px 11px;
	color: #000;
	border: 1px solid #cacaca;
	background-color: transparent
}

.btn-transparent:focus,
.btn-transparent:hover {
	color: #000
}

.btn-grey {
	background: #eee;
	color: #000
}

.btn-grey:focus,
.btn-grey:hover {
	color: #000
}

.btn-brown {
	background: #2e1f04;
	color: #fff
}

.btn-brown:focus,
.btn-brown:hover {
	color: #fff
}

.burger-menu {
	padding: 10px 14px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: 0 0;
	border: none;
	border-radius: 2px;
	background: #f7f7f7
}

.burger-menu:focus {
	outline: 0
}

.burger-menu__captions {
	padding-right: 6px;
	font-size: 10px;
	line-height: 12px;
	text-transform: uppercase
}

.burger-menu__wrap {
	width: 15px
}

.burger-menu__wrap span {
	position: relative;
	width: 100%;
	display: block;
	height: 1px;
	margin-bottom: 3px;
	background: #000;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out
}

.burger-menu__wrap span:nth-child(2) {
	width: 13px
}

.burger-menu__wrap span:last-child {
	width: 6px;
	margin-bottom: 0
}

.burger-menu.active .burger-menu__wrap span:nth-of-type(1) {
	top: 4px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

.burger-menu.active .burger-menu__wrap span:nth-of-type(2) {
	background-color: transparent
}

.burger-menu.active .burger-menu__wrap span:nth-of-type(3) {
	width: 100%;
	top: -4px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

.page-menu {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 500px;
	background: #fff;
	-webkit-box-shadow: -10px 0 100px rgba(0, 0, 0, .1);
	box-shadow: -10px 0 100px rgba(0, 0, 0, .1);
	z-index: 999;
	min-height: 100vh;
}

.page-menu__wrap {
	max-height: calc(100vh - 260px);
	overflow: hidden;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);
	margin-top: 100px;
}

.page-menu__wrap ul {
	padding: 0 100px;
	list-style: none;
	-webkit-transition: all .3s;
	transition: all .3s
}

.page-menu__wrap ul.opened {
	-webkit-transform: translate(100%, 0);
	transform: translate(100%, 0)
}

.page-menu__wrap ul.opened>li.dropdown-opened>ul {
	display: block;
	width: 100%
}

.page-menu__wrap ul>li:not(:last-child) {
	margin-bottom: 24px
}

.page-menu__wrap ul>li.dropdown>span {
	position: relative;
	display: inline-block;
	padding-right: 15px
}

.page-menu__wrap ul>li.dropdown>span::before {
	content: '';
	position: absolute;
	top: 17px;
	right: 0;
	width: 9px;
	height: 14px;
	background: url(../img/angle-left.svg)
}

.page-menu__wrap ul>li.dropdown>ul {
	display: none;
	position: fixed;
	top: 0;
	right: 100%;
	padding: 0 100px 68px;
	-webkit-transition: all .3s;
	transition: all .3s;
	list-style: none
}

.page-menu__wrap ul>li.dropdown>ul>li:not(:last-child) {
	margin-bottom: 10px
}

.page-menu__wrap ul>li.dropdown>ul>li.back {
	margin-top: 50px;
	font-size: 30px
}

.page-menu__wrap ul>li.dropdown>ul>li.back>span {
	position: relative;
	display: inline-block;
	padding-left: 15px
}

.page-menu__wrap ul>li.dropdown>ul>li.back>span::before {
	content: '';
	position: absolute;
	left: 0;
	top: 13px;
	width: 9px;
	height: 14px;
	background: url(../img/angle-left.svg);
	-webkit-transform: scale(-1, 1);
	transform: scale(-1, 1)
}

.page-menu__wrap ul>li.dropdown>ul>li>a {
	font-size: 26px;
	line-height: 36px;
	font-family: Oswald;
	cursor: pointer;
	color: #5d5d5d
}

.page-menu__wrap ul>li.dropdown>ul>li>a:hover {
	color: #000;
	opacity: 1;
	text-decoration: underline
}

.page-menu__wrap ul>li span,
.page-menu__wrap ul>li>a {
	font-size: 30px;
	line-height: 40px;
	font-family: Oswald;
	cursor: pointer;
	color: #5d5d5d
}

.page-menu__wrap ul>li span:hover,
.page-menu__wrap ul>li>a:hover {
	color: #000;
	opacity: 1;
	text-decoration: underline
}

.page-menu__bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 40px 100px 68px;
	border-top: 1px solid #eee
}

.page-menu__bottom h5 {
	line-height: 28px;
}

.page-menu__bottom a {
	font-family: Oswald;
	font-weight: 300;
	font-size: 30px;
	line-height: 40px
}

.overflow-hidden {
	overflow: hidden
}

.color-grey {
	color: #5d5d5d
}

.close-mmenu {
	position: absolute;
	right: 61px;
	top: 34px;
	outline: 0;
	background-color: transparent;
	border: none;
	z-index: 999
}

.close-mmenu>span {
	display: inline-block;
	padding: 0;
	padding-right: 8px;
	vertical-align: middle;
	font-size: 10px;
	color: #000;
	text-transform: uppercase
}

.icon-cross {
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 12px;
	background: url(../img/cross.svg)
}

.home {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: calc(100vh - 93px)
}

.home-slider {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.home-slider__item {
	position: relative;
	text-align: center;
	outline: 0
}

.home-slider__item--overlay {
	position: relative;
	z-index: 10
}

.home-slider__item--text {
	margin-top: 10vh
}

.home-slider__item--text h5 {
	max-width: 654px;
	margin: 0 auto 15px;
	text-align: center
}

.home-slider__item--title {
	max-width: 740px;
	margin: 0 auto 20px;
	text-align: center;
	font-size: 60px;
	line-height: 70px;
	font-family: Oswald;
	color: #2e1f04
}

.home-slider__item--subtitle {
	font-size: 16px;
	line-height: 28px;
	color: #767676;
	text-transform: uppercase
}

.home-slider__item--count {
	position: absolute;
	right: 80px;
	top: 0;
	bottom: 0;
	height: 100%;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	z-index: 10
}

.home-slider__item--count>span {
	font-weight: 300;
	font-family: Oswald;
	font-size: 24px;
	line-height: 36px;
	color: #2e1f04
}

.home-slider__item--count>span:first-child {
	padding-bottom: 2spx;
	color: #fff
}

.home-slider__item--count>span:last-child {
	border-top: 1px solid #ececec;
	color: #cacaca
}

.home-slider__item>img {
	max-height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%
}

.home-slider__item--more {
	position: relative;
	margin-top: 15px;
	padding-top: 35px
}

.home-slider__item--more::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
	width: 1px;
	height: 20px;
	background: #bcbdc0
}

.home-slider__item--more>span {
	display: block;
	margin-bottom: 15px;
	font-size: 10px;
	line-height: 12px;
	text-transform: uppercase;
	color: #2e1f04
}

.home-slider__item--link {
	width: 35px;
	height: 35px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: #2e1f04;
}

.home-slider__item--link:active {
	-webkit-animation: move-down 50ms forwards ease-in-out;
	animation: move-down 50ms forwards ease-in-out;
}

.home-slider__item--link i {
	-webkit-animation: move-vertical 2s infinite ease-in-out;
	animation: move-vertical 2s infinite ease-in-out;
}

.home-slider__wrap {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0
}

.home-slider__nav {
	position: relative;
	z-index: 10;
	max-width: 300px;
	margin-bottom: 100px
}

.home .slick-list,
.home .slick-track {
	height: 100%
}

.icon {
	position: relative;
	display: inline-block
}

.icon::before {
	content: '';
	display: block
}

.icon-arrow-top::before {
	width: 7px;
	height: 41px;
	background: url(../img/arrow-top.png)
}

.icon-arrow-bottom::before {
	width: 7px;
	height: 41px;
	background: url(../img/arrow-bottom.png)
}

.icon-arrow-bottom__white::before {
	width: 5px;
	height: 14px;
	background: url(../img/arrow-down.png) no-repeat
}

.banner {
	padding-bottom: 60px
}

.banner img {
	display: block;
	margin: 0 auto
}

.section h1 {
	margin-bottom: 30px;
	text-align: center
}

.section-header {
	margin-bottom: 120px;
	text-align: center
}

.section-header h5 {
	max-width: 860px;
	margin: 0 auto
}

section h2 {
	margin-bottom: 60px;
	text-align: center
}

.image-item {
	max-width: 1310px;
	margin: 0 auto 120px
}

.image-item h2 {
	margin-bottom: 20px
}

.image-item p {
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 28px
}

.image-item__img {
	position: relative
}

.image-item__position {
	position: absolute;
	left: -40%;
	bottom: -40%
}

.image-item__text h2 {
	text-align: left
}

.image-item__text>img {
	display: block;
	margin: 0 0 30px
}

.image-item__text--link {
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	color: #c29239;
	border-bottom: 1px dashed
}

.image-item__text ul {
	list-style: none
}

.image-item__text ul li {
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 28px
}

.image-item .btn {
	padding-top: 20px;
	padding-bottom: 20px
}

.footer-home {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding-bottom: 38px;
	color: #eee;
	font-size: 12px;
	line-height: 14px
}

.footer-home__copy {
	color: #eee;
	font-weight: 300
}

.footer-home__copy a {
	color: #eee
}

.footer-home__soc {
	font-weight: 300;
	list-style: none
}

.footer-home__soc li {
	display: inline-block;
	margin: 0 10px
}

.footer-home__soc li a {
	font-family: Oswald;
	font-size: 16px;
	line-height: 28px;
	color: #fff
}

.footer-home__dev>a {
	display: inline-block;
	padding-left: 6px;
	vertical-align: middle
}

.footer-home__dev>a img {
	display: inline-block
}

.footer-wrap {
	text-align: center
}

.footer-logo {
	display: inline-block;
	margin-bottom: 20px
}

.footer-text {
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 28px
}

.footer-contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 100px
}

.footer-contacts__item {
	margin-left: 15px;
	margin-right: 15px
}

.footer-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0 80px 35px;
	font-size: 12px;
	line-height: 14px
}

.footer-bottom__copy {
	color: #767676
}

.footer-bottom__copy a {
	color: #767676
}

.footer-bottom__address {
	color: #000
}

.footer-bottom__dev {
	color: #767676
}

.footer-bottom__dev a {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px
}

.room-links {
	margin-bottom: 120px
}

.room-item {
	position: relative;
	padding-left: 225px;
	min-height: 360px;
	margin-bottom: 120px
}

.room-item:nth-child(even) {
	padding-left: 0;
	padding-right: 225px
}

.room-item:nth-child(even) .room-item__overlay {
	left: auto;
	right: 0
}

.room-item__overlay {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: auto;
	width: 430px;
	height: 360px;
	-webkit-box-shadow: 0 4px 24px rgba(0, 0, 0, .08);
	box-shadow: 0 4px 24px rgba(0, 0, 0, .08);
	border-radius: 2px;
	background: #fff;
	z-index: 10;
	text-align: center
}

.room-item__overlay--text {
	padding-left: 45px;
	padding-right: 45px
}

.room-item__overlay--text h2 {
	margin-bottom: 25px;
	color: #000
}

.room-item__overlay--text p {
	margin-bottom: 25px;
	font-size: 14px;
	line-height: 24px
}

.icon-block {
	margin-bottom: 80px
}

.icon-block__wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.icon-block__item {
	margin-bottom: 50px;
	text-align: center
}

.icon-block__item img {
	display: block;
	margin: 0 auto 20px
}

.gallery {
	margin-bottom: 120px
}

.gallery-slider {
	max-width: 1310px;
	margin: 0 auto
}

.gallery-slider .slick-arrow {
	width: 50px;
	height: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: #2e1f04;
	z-index: 10
}

.gallery-slider .slick-arrow::before {
	content: ''
}

.gallery-slider .slick-arrow.slick-prev::before {
	width: 21px;
	height: 8px;
	background: url(../img/prev.png);
	opacity: 1
}

.gallery-slider .slick-arrow.slick-next::before {
	width: 21px;
	height: 8px;
	background: url(../img/next.png);
	opacity: 1
}

.rates {
	padding: 0 0 60px
}

.rates h2 {
	margin-bottom: 20px
}

.rates h5 {
	margin-bottom: 30px;
	text-align: center
}

.rates-item {
	padding: 30px 0;
	margin-bottom: 18px;
	border-top: 1px solid #cacaca;
	border-bottom: 1px solid #cacaca
}

.rates-item .form-item {
	position: relative;
	margin-bottom: 0
}

.rates-item .form-item input {
	border-width: 0
}

.rates-item .form-item.datetimepicker input {
	border-width: 1px
}

.rates-item .footnote {
	margin-top: -10px
}

.rates-item__center--wrap {
	max-width: 400px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.rates-item__center--left {
	width: 65%
}

.rates-item__center--left .row {
	margin-bottom: 25px
}

.rates-item__right {
	text-align: right
}

.rates-item__right .rates-info {
	text-align: left
}

.rates-item__right .btn {
	width: 100%
}

.rates-header {
	margin-bottom: 2px;
	font-size: 10px;
	line-height: 14px;
	text-transform: uppercase;
	color: #8e8e8e
}

.rates-header__big {
	font-size: 16px
}

.rates-value {
	font-size: 16px;
	line-height: 28px;
	color: #2e1f04
}

.rates-info {
	margin-bottom: 15px
}

.rates-info__header {
	font-size: 15px;
	line-height: 22px;
	color: #8e8e8e;
	text-transform: uppercase
}

.rates-info__value {
	font-size: 24.96px;
	line-height: 44px;
	color: #2e1f04
}

.rates .btn {
	padding: 18px 30px 18px;
	max-width: 260px
}

.count {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	font-size: 16px
}

.count-btn {
	width: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0;
	background-color: transparent;
	outline: 0;
	border: none;
	color: #2e1f04
}

.form-item {
	margin-bottom: 30px
}

.form-item__title {
	font-size: 10px;
	line-height: 14px;
	color: #767676;
	text-transform: uppercase
}

.form-item__value {
	font-size: 16px;
	line-height: 28px;
	color: #2e1f04
}

.form-item>label {
	display: block;
	font-size: 10px;
	line-height: 14px;
	color: #767676;
	text-transform: uppercase
}

.form-item input:not([type=checkbox]),
.form-item input:not([type=radio]) {
	width: 100%;
	height: 28px;
	font-size: 16px;
	color: #2e1f04;
	border: none;
	outline: 0;
	border-bottom: 1px solid #cacaca
}

.form-item input:not([type=checkbox]).form-item__tel,
.form-item input:not([type=radio]).form-item__tel {
	font-size: 28px
}

.form-item__check input[type=checkbox] {
	display: none;
	position: absolute;
	left: -9999px
}

.form-item__check input[type=checkbox]+label {
	position: relative;
	display: inline-block;
	padding: 0 0 0 28px;
	font-size: 16px;
	line-height: 28px;
	color: #2e1f04;
	text-transform: none
}

.form-item__check input[type=checkbox]+label::before {
	content: '';
	position: absolute;
	left: 0;
	top: 4px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #d7d7d7
}

.form-item__check input[type=checkbox]:checked+label::before {
	background-image: url(../img/check.svg);
	background-repeat: no-repeat;
	background-position: center
}

.form-item__radio {
	display: inline-block;
	vertical-align: middle
}

.form-item__radio input[type=radio] {
	display: none;
	position: absolute;
	left: -9999px
}

.form-item__radio input[type=radio]+label {
	position: relative;
	display: inline-block;
	padding: 0 0 0 28px;
	font-size: 16px;
	line-height: 28px;
	color: #2e1f04;
	text-transform: none
}

.form-item__radio input[type=radio]+label::before {
	content: '';
	position: absolute;
	left: 0;
	top: 4px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #d7d7d7
}

.form-item__radio input[type=radio]:checked+label::before {
	background-image: url(../img/check.svg);
	background-repeat: no-repeat;
	background-position: center
}

.form-item__radio .color-main {
	padding-left: 10px
}

.jq-selectbox {
	width: 100%
}

.jq-selectbox .jq-selectbox__select-text {
	position: relative;
	padding: 10px 20px 5px 0;
	width: 100%;
	font-size: 16px;
	line-height: 20px;
	border-bottom: 1px solid #cacaca
}

.jq-selectbox .jq-selectbox__select-text::after {
	content: '';
	position: absolute;
	right: 0;
	top: 19px;
	display: block;
	background-image: url(../img/drop-ic.svg);
	background-repeat: no-repeat;
	width: 12px;
	height: 12px
}

.jq-selectbox.opened .jq-selectbox__select-text::after {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}

.jq-selectbox .jq-selectbox__dropdown {
	top: 36px !important;
	left: 0 !important;
	z-index: 999;
	min-width: 100%;
	max-width: 100%;
	background: #fff
}

.jq-selectbox .jq-selectbox__dropdown ul {
	max-height: 145px !important;
	padding: 5px 0;
	background: #fff;
	list-style: none;
	-webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, .12);
	box-shadow: 0 3px 12px rgba(0, 0, 0, .12);
	border-top: none
}

.jq-selectbox .jq-selectbox__dropdown ul li {
	padding: 10px 20px;
	font-size: 16px;
	line-height: 19px;
	-webkit-transition: all .3s;
	transition: all .3s;
	color: #222;
	border-bottom: 1px solid #bcbdc0
}

.jq-selectbox .jq-selectbox__dropdown ul li:last-child {
	border-bottom: 0
}

.jq-selectbox .jq-selectbox__dropdown ul::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #f5f5f5
}

.jq-selectbox .jq-selectbox__dropdown ul::-webkit-scrollbar {
	width: 8px;
	border-radius: 2px
}

.jq-selectbox .jq-selectbox__dropdown ul::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #c29239
}

.footnote {
	margin-top: 10px;
	text-transform: uppercase;
	font-size: 10px;
	line-height: 14px;
	color: #767676
}

.footnote a {
	color: #5d5d5d;
	border-bottom: 1px dashed #5d5d5d
}

.datetimepicker {
	position: relative
}

.datetimepicker::after {
	content: '';
	position: absolute;
	right: 0;
	top: 30px;
	display: block;
	background-image: url(../img/drop-ic.svg);
	background-repeat: no-repeat;
	width: 12px;
	height: 12px
}

.datetimepicker>label {
	margin-bottom: 8px
}

.color-main {
	color: #c29239
}

.question-hover {
	position: absolute;
	top: 5px;
	right: 0
}

.question-hover__icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/question-circle.svg);
	cursor: pointer
}

.question-hover__text {
	position: absolute;
	right: -20px;
	bottom: 100%;
	margin-bottom: 5px;
	display: none;
	padding: 10px;
	border: 1px solid #cacaca;
	z-index: 10;
	font-size: 12px;
	width: 120px;
	background: #fff
}

.vertical-align-top {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start
}

.contacts-top {
	margin-bottom: 120px;
	text-align: center
}

.contacts-top__item {
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 28px
}

.contacts-wrap {
	margin-bottom: 120px;
	text-align: center
}

.contacts-block {
	display: inline-block;
	margin: 0 100px;
	vertical-align: top
}

.contacts-block h2 {
	margin-bottom: 30px
}

.contacts-block h5 {
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 28px;
	color: #767676
}

.contacts-block h6 {
	font-size: 10px;
	line-height: 14px;
	color: #767676;
	text-transform: uppercase
}

.contacts-block__tel {
	display: block;
	margin-bottom: 10px;
	font-family: Oswald;
	font-weight: 300;
	font-size: 30px;
	line-height: 40px
}

.contacts-map {
	margin-bottom: 120px;
	text-align: center
}

.contacts-map h2 {
	margin-bottom: 20px
}

.contacts-tabs {
	text-align: center
}

.contacts-tabs h2 {
	margin-bottom: 30px
}

.soc-btn {
	display: inline-block;
	margin: 0 10px;
	font-family: Oswald
}

.tabs-nav {
	margin-bottom: 30px;
	list-style: none
}

.tabs-nav li {
	display: inline-block;
	margin-right: 40px
}

.tabs-nav li:last-child {
	margin-right: 0
}

.tabs-nav li a {
	display: block;
	padding: 10px 15px;
	width: 160px;
	font-size: 10px;
	line-height: 14px;
	background: #ececec;
	text-transform: uppercase;
	text-align: center;
	border-radius: 2px
}

.tabs-nav li a.active {
	color: #fff;
	background: #2e1f04
}

.tabs-nav li a:focus,
.tabs-nav li a:hover {
	opacity: 1
}

.tabs-item {
	display: none;
	margin-bottom: 120px;
	text-align: center
}

.tabs-item h3 {
	margin-bottom: 20px;
	font-weight: 300;
	font-size: 30px;
	line-height: 40px
}

.tabs-item.active {
	display: block
}

.tabs-mobile__btn {
	display: none
}

.no-banner {
	padding: 60px 0 0
}

.no-banner h1 {
	margin-bottom: 60px
}

.services {
	margin-bottom: 120px
}

.services-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	min-height: 316px;
	padding: 50px;
	-webkit-box-shadow: 0 4px 24px rgba(0, 0, 0, .08);
	box-shadow: 0 4px 24px rgba(0, 0, 0, .08);
	border-radius: 2px;
	-webkit-transition: all .3s;
	transition: all .3s
}

.services-item:hover {
	background: #2e1f04
}

.services-item:hover h2 {
	color: #fff
}

.services-item:hover .btn {
	background: #fff
}

.services-item:hover .btn:focus,
.services-item:hover .btn:hover {
	opacity: 1;
	font-size: 12px
}

.services-item h2 {
	margin-bottom: 30px;
	text-align: left;
	-webkit-transition: all .3s;
	transition: all .3s
}

.services-item .btn {
	max-width: 160px
}

.order-form {
	max-width: 860px;
	margin: 0 auto 120px
}

.cyber-nevod__icon {
	display: inline-block;
	vertical-align: middle;
	width: 73px;
	height: 11px;
	background: url(../img/logo_CN-white.svg)
}

.preorder-room h3 {
	margin-bottom: 25px;
	font-family: Oswald;
	font-weight: 300;
	font-size: 30px;
	line-height: 40px;
	color: #c29239;
	text-align: center
}

.preorder-room h4 {
	margin-bottom: 25px;
	font-size: 18px;
	font-weight: 600;
	text-transform: none
}

.preorder-room__item {
	max-width: 450px;
	margin: 0 auto 60px
}

.preorder-room__item .form-item {
	margin-bottom: 0
}

.preorder-room__item .footnote {
	margin-top: 10px
}

.preorder-room__bottom {
	max-width: 860px;
	margin: 0 auto 120px
}

.preorder-room__bottom .btn {
	padding: 17px 0;
	width: 185px
}

.preorder-conferences__item {
	max-width: 860px;
	margin: 0 auto 30px
}

.preorder-conferences__item .form-item {
	margin-bottom: 0
}

.preorder-conferences__item .justify-align {
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end
}

.preorder-conferences__item .justify-align .form-item {
	width: 185px;
	margin-bottom: 0
}

.preorder-conferences__total {
	padding: 30px 0 60px
}

.preorder-conferences__total--price {
	display: inline-block;
	padding-right: 10px;
	vertical-align: bottom;
	font-family: Oswald;
	font-style: normal;
	font-size: 46px;
	line-height: 56px
}

.preorder-conferences__bottom {
	margin-bottom: 120px
}

.preorder-conferences__bottom .btn {
	width: 300px;
	padding-top: 22px;
	padding-bottom: 22px;
	font-size: 14px
}

.preorder-conferences__bottom>span {
	display: inline-block;
	padding-left: 20px;
	text-transform: uppercase;
	font-size: 10px;
	line-height: 14px;
	color: #5d5d5d
}

.del-btn {
	display: inline-block;
	padding: 0;
	font-size: 16px;
	line-height: 28px;
	border: none;
	outline: 0;
	background-color: transparent;
	color: #c23939
}

.add-btn {
	display: inline-block;
	padding: 0;
	font-size: 10px;
	line-height: 14px;
	border: none;
	border-bottom: 1px dashed;
	text-transform: uppercase;
	outline: 0;
	background-color: transparent;
	color: #c29239
}

.modal {
	max-width: 550px;
	padding: 80px 90px
}

.modal .fancybox-close-small {
	background: #eee
}

.modal-title {
	font-family: Oswald;
	font-size: 60px;
	line-height: 70px
}

.modal-subtitle {
	margin-bottom: 40px;
	font-family: Oswald;
	font-size: 30px;
	line-height: 40px
}

.modal .btn {
	width: 100%;
	padding: 16px 30px;
	font-size: 14px
}

@media only screen and (max-width:1919px) {
	.header-left .weather {
		display: none
	}

	.header-right>.btn {
		margin: 0 25px
	}

	.main-menu>ul>li {
		padding: 0 10px
	}

	.header-tel__number {
		font-size: 14px;
		line-height: 20px
	}

	.home-slider__item--title {
		font-size: 45px;
		line-height: 55px
	}

	.home-slider__item--text h5 {
		max-width: 560px
	}

	.page-menu__wrap ul>li:not(:last-child) {
		margin-bottom: 12px
	}

	.page-menu__wrap ul>li.dropdown>ul>li.back>span::before {
		top: 8px
	}

	.page-menu__bottom {
		padding: 30px 60px 40px
	}

	.footer-bottom {
		padding-left: 30px;
		padding-right: 30px
	}

	.footer-bottom__address {
		padding-left: 30px;
		padding-right: 30px
	}

	.container {
		padding-left: 80px;
		padding-right: 80px
	}
}

@media only screen and (max-width:1365px) {
	.main-menu>ul>li {
		padding: 0 10px
	}

	.main-menu>ul>li>a {
		font-size: 11px
	}

	.container {
		padding-left: 30px;
		padding-right: 30px
	}

	.home-slider__item--subtitle {
		font-size: 14px
	}

	.header {
		padding-left: 30px;
		padding-right: 30px
	}

	.gallery-slider {
		margin: 0 30px
	}

	.contacts-top,
	.contacts-wrap {
		margin-bottom: 50px
	}
}

@media only screen and (max-width:1279px) {
	.main-menu {
		display: none
	}

	.cm-container {
		left: -470px
	}

	.home-slider__item--title {
		font-size: 36px;
		line-height: 46px;
		max-width: 520px
	}

	.home-slider__item--text h5 {
		max-width: 480px;
		font-size: 14px;
		line-height: 20px
	}

	.container {
		padding-left: 20px;
		padding-right: 20px
	}

	.services-item {
		padding: 30px
	}

	.room-links {
		margin-bottom: 50px;
		display: block
	}

	.room-links>a {
		display: inline-block;
		margin: 0 5px 10px
	}
}

@media only screen and (max-width:992px) {
	.home-slider__item>img {
		display: none
	}

	.home-slider {
		margin-bottom: 50px
	}

	.home-slider .slick-dots {
		bottom: 40px
	}

	.home-slider .slick-dots li {
		width: 10px;
		height: 10px;
		border: 1px solid #c29239;
		border-radius: 50%
	}

	.home-slider .slick-dots li.slick-active {
		background: #c29239
	}

	.home-slider .slick-dots li button:before {
		content: ''
	}

	.cm-container {
		top: -40px;
		left: 0;
		width: 100px;
		height: 100px;
		border: none
	}

	.cm-container .cm-selected-container {
		top: 50%
	}

	.cm-items {
		display: none
	}

	.cm-selected-label {
		display: none
	}

	.footer-home {
		position: static;
		padding-bottom: 20px;
		color: #000
	}

	.footer-home__copy {
		color: #000
	}

	.footer-home__copy a {
		color: #000
	}

	.footer-home__soc li a {
		color: #000
	}

	.footer-home .cyber-nevod__icon {
		position: relative;
		top: -1px;
		background: url(../img/logo_CN.svg)
	}

	.page-menu__bottom,
	.page-menu__wrap ul {
		padding: 0 60px
	}

	.home {
		min-height: 500px
	}

	.contacts-block {
		margin: 0 50px
	}

	.room-item {
		min-height: auto;
		padding: 0;
		margin-bottom: 80px
	}

	.room-item:nth-child(even) {
		padding: 0
	}

	.room-item__overlay {
		position: static;
		width: auto;
		height: auto;
		-webkit-box-shadow: none;
		box-shadow: none
	}

	.room-item__overlay--text {
		padding: 15px 0 0
	}

	.rates-item {
		text-align: center
	}

	.rates-item__right {
		text-align: center
	}

	.rates-item__center--wrap {
		margin: 10px auto 10px
	}
}

@media only screen and (max-width:768px) {
	.container {
		padding-left: 15px;
		padding-right: 15px
	}

	.header-tel {
		display: none
	}

	.cm-container .cm-selected-container .cm-button.cm-button-next,
	.cm-container .cm-selected-container .cm-button.cm-button-prev {
		right: 100px
	}

	.header-right>.btn {
		margin: 0 15px
	}

	.header {
		padding: 10px 15px
	}

	.header .btn {
		padding: 10px 15px 10px
	}

	.home-slider__item--overlay {
		padding: 0 15px
	}

	.home-slider__item--text {
		margin-top: 5vh
	}

	.footer-home .justify-align {
		display: block;
		text-align: center
	}

	.footer-home__soc {
		margin: 10px 0
	}

	.close-mmenu {
		right: 15px;
		top: 20px
	}

	.page-menu__bottom,
	.page-menu__wrap ul,
	.page-menu__wrap ul>li.dropdown>ul {
		padding: 15px 15px 15px
	}

	.page-menu {
		width: 70%;
		min-height: 100vh
	}

	.page-menu__wrap ul>li span,
	.page-menu__wrap ul>li.dropdown>ul>li>a,
	.page-menu__wrap ul>li>a {
		font-size: 16px;
		line-height: 20px
	}

	.page-menu__wrap ul>li.dropdown>span::before {
		top: 5px
	}

	.page-menu__wrap ul>li.dropdown>ul>li.back>span::before {
		top: 4px
	}

	.page-menu__bottom a {
		font-size: 24px;
		line-height: 40px
	}

	.page-menu__wrap {
		height: calc(100vh - 100px)
	}

	.page-menu__wrap ul.opened {
		overflow-y: initial
	}

	.page-menu__wrap ul>li.dropdown>ul {
		top: 0;
		height: 100%;
		overflow-y: scroll
	}

	.banner {
		padding-bottom: 30px
	}

	h1 {
		font-size: 36px;
		line-height: 46px
	}

	.section-header {
		margin-bottom: 50px
	}

	.image-item__position {
		display: none
	}

	.image-item {
		text-align: center
	}

	.image-item .row-flex {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column
	}

	.image-item__img {
		margin-bottom: 30px;
		text-align: center
	}

	h2 {
		font-size: 30px;
		line-height: 38px
	}

	.image-item {
		margin-bottom: 50px
	}

	.image-item__wrap .image-item {
		margin-bottom: 50px
	}

	.image-item__wrap .image-item:nth-child(even) .row-flex {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse
	}

	.image-item__text p:last-child {
		margin-bottom: 0
	}

	.footer {
		text-align: center
	}

	.footer-logo {
		margin-bottom: 15px
	}

	.footer-text {
		margin-bottom: 15px
	}

	.footer-contacts {
		display: inline-block;
		margin-bottom: 15px
	}

	.footer-contacts a {
		display: inline-block
	}

	.footer-contacts>span {
		display: block;
		margin: 10px 0
	}

	.image-item__text h2 {
		text-align: center
	}

	.image-item__text>img {
		margin: 0 auto 30px
	}

	.row {
		margin-left: -15px;
		margin-right: -15px
	}

	.row [class^=col-] {
		padding-left: 15px;
		padding-right: 15px
	}

	.row-flex [class^=col-] {
		width: 100%
	}

	.footer-bottom {
		padding: 0 15px 20px;
		display: block
	}

	.footer-bottom>span {
		padding: 0;
		display: block;
		margin: 10px 0
	}

	section.gallery {
		margin-bottom: 50px
	}

	section.gallery h2 {
		margin-bottom: 20px
	}

	.contacts-wrap {
		margin-bottom: 0
	}

	.contacts-block {
		margin: 0 0 30px
	}

	.contacts-block__tel {
		font-size: 26px;
		line-height: 30px
	}

	.contacts-map {
		margin-bottom: 50px
	}

	.tabs-nav li {
		margin-right: 10px
	}

	.tabs-nav li a {
		width: 86px;
		font-size: 9px;
		padding: 10px 0
	}

	.tabs-item {
		margin-bottom: 50px
	}

	.tabs-item h3 {
		font-size: 20px;
		line-height: 28px
	}

	.services-item {
		margin-bottom: 30px
	}

	.services {
		margin-bottom: 50px
	}

	h5 {
		font-size: 14px;
		line-height: 22px
	}

	.icon-block {
		margin-bottom: 30px
	}

	.preorder-room h3 {
		font-size: 24px
	}

	.preorder-room h4 {
		margin: 20px 0;
		text-align: center
	}

	.preorder-room__item .footnote {
		margin-top: -10px
	}

	.preorder-room__item .form-item {
		margin-bottom: 20px
	}

	.preorder-conferences {
		padding-bottom: 50px
	}

	.preorder-room__item {
		margin: 0 auto
	}

	.preorder-conferences__item {
		margin-bottom: 0
	}

	.preorder-conferences__item>.form-item {
		margin-bottom: 30px
	}

	.preorder-conferences__item .footnote {
		margin: 0
	}

	.preorder-conferences__item .row [class^=col] {
		margin-bottom: 30px
	}

	.preorder-conferences__item .add-btn {
		margin-bottom: 30px
	}

	.form-item input:not([type=checkbox]).form-item__tel,
	.form-item input:not([type=radio]).form-item__tel {
		font-size: 20px
	}

	.preorder-conferences__bottom .btn {
		display: block;
		width: auto;
		max-width: 290px
	}

	.preorder-conferences__bottom>span {
		padding: 10px 0 0
	}

	.preorder-conferences__total {
		padding: 30px 0 30px
	}

	.modal {
		max-width: 90%;
		padding: 30px
	}

	.modal-title {
		font-size: 30px
	}

	.modal-subtitle {
		margin-bottom: 30px;
		font-size: 20px;
		line-height: 28px
	}

	.modal-body {
		padding: 0
	}
}

@media only screen and (max-width:479px) {
	.home-slider__item--title {
		font-size: 22px;
		line-height: 28px
	}

	.home-slider__item--text h5 {
		font-size: 12px;
		line-height: 18px
	}

	.home-slider .slick-dots {
		bottom: 20px
	}

	.burger-menu__captions {
		display: none
	}

	h1 {
		font-size: 28px;
		line-height: 36px
	}

	h2 {
		font-size: 28px;
		line-height: 34px
	}

	.gallery-slider .slick-arrow {
		width: 30px;
		height: 30px
	}

	.no-banner {
		padding: 30px 0 0
	}

	.no-banner h1 {
		margin-bottom: 40px
	}

	.room-links>a {
		display: block
	}

	.preorder-room__bottom {
		display: block
	}

	.preorder-room__bottom .btn {
		width: 80%;
		display: block;
		margin: 0 auto 15px
	}

	.preorder-conferences__total--price {
		font-size: 34px
	}

	.preorder-conferences__total--price+span {
		font-size: 14px;
		display: block
	}
}

@-webkit-keyframes move-vertical {

	0%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	50% {
		-webkit-transform: translateY(4px);
		transform: translateY(4px);
	}
}

@keyframes move-vertical {

	0%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	50% {
		-webkit-transform: translateY(4px);
		transform: translateY(4px);
	}
}

@-webkit-keyframes move-down {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
	}
}

@keyframes move-down {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
	}
}