.vc-popover-content-wrapper {
	z-index: 12 !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s, height .3s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.v-select .opened {
	z-index: 11;
}

.v-select .jq-selectbox__dropdown {
	max-height: 145px;
}

.v-select select {
	opacity: 0 !important;
}

.v-select .jq-selectbox .jq-selectbox__dropdown {
	top: 40px !important;
}

.v-select .jq-selectbox li, 
.v-select .jq-select-multiple li {
	white-space: normal;
}

.add-btn {
	user-select: none;
	cursor: pointer;
}

.del-btn {
	user-select: none;
}

.form-item {
	position: relative;
}

.form-item.form-item_size_large input {
	font-size: 28px;
}

.form-control,
.form-control:focus {
	box-shadow: none;
}

.form-item__error {
	font-size: 12px;
	background-color: #fff;
	border: 1px solid #ff6363;
	border-radius: 5px;
	padding: 5px 10px;
	position: absolute;
	top: calc(100% + 12px);
	left: 0;
	z-index: 1;
}

.form-item__error::before {
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	top: -17px;
	left: 10px;
	border: 8px solid transparent;
	border-bottom-color: #ff6363;
	z-index: 0;
}

.form-item__error::after {
	content: "";
	width: 14px;
	height: 14px;
	position: absolute;
	top: -14px;
	left: 11px;
	border: 7px solid transparent;
	border-bottom-color: #fff;
	z-index: 1;
}

.form-item__amount .form-item__error {
	left: 24px;
}

/*  --------------------  */
#preorder-conferences {
	position: relative;
	height: 793px;
	overflow: hidden;
}

.preorder-conferences {
	opacity: 0;
	display: none;
	position: absolute;
}

.preorder-room {
	position: relative;
	height: 562px;
	overflow: hidden;
}

.preorder-room-wrap {
	opacity: 0;
	display: none;
	position: absolute;
}

.preorder-room__prop {
	margin-bottom: 32px;
}

.form-item > .label {
	display: block;
	font-size: 10px;
	line-height: 14px;
	color: #767676;
	text-transform: uppercase;
	padding: 0;
	font-weight: 400;
	text-align: left;
	border-radius: 0;
}

.form-item .form-item__amount-field {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.form-item.form-item__amount input {
	flex: 0 0 40px;
	max-width: 40px;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	border: none;
	width: auto;
}

.form-item.form-item__amount input:disabled {
	background-color: transparent;
	color: #767676;
}

.form-item .form-item__amount-remove,
.form-item .form-item__amount-add {
	flex: 0 0 19px;
	max-width: 19px;
	height: 19px;
	border-radius: 2px;
	position: relative;
	display: inline-block;
	border: none;
	outline: none;
}

.form-item .form-item__amount-remove:disabled,
.form-item .form-item__amount-add:disabled {
	opacity: 0.7;
	pointer-events: none;
}

.form-item .form-item__amount-remove {
	background-color: #EEEEEE;
}

.form-item .form-item__amount-add {
	background-color: #67D278;
}

.form-item .form-item__amount-remove::before,
.form-item .form-item__amount-add::before {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 1px;
	width: 9px;
	content: "";
	transform: translate(-50%, -50%);
}

.form-item .form-item__amount-remove::before {
	background-color: #000;
}

.form-item .form-item__amount-add::after {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 9px;
	width: 1px;
	content: "";
	transform: translate(-50%, -50%);
}

.form-item .form-item__amount-add::before,
.form-item .form-item__amount-add::after {
	background-color: #fff;
}

.preorder-room__step {
	position: relative;
	max-width: 860px;
	margin-left: auto;
	margin-right: auto;
	transition: 0.5s;
}

.preorder-room__step-2 {
	min-height: 225px;
	display: flex;
}

.preorder-room__step-3 .preorder-room__item {
	max-width: 100%;
}

.preorder-room__step-3 .preorder-room__col-title,
.preorder-room__step-3 .preorder-room__prop-value {
	padding-left: 95px;
}

.preorder-room__total-places {
	position: absolute;
	top: 65px;
	left: 0;
	width: 185px;
	padding: 20px 25px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background: #f7f7f7;
}

.preorder-room__total-places span {
	font-family: Oswald;
	line-height: 1;
	font-size: 60px;
	color: #c29239;
}

.preorder-room__total-places div {
	font-size: 10px;
	line-height: 14px;
	text-transform: uppercase;
	margin-top: 7px;
	margin-left: 13px;
}

.preorder-room__footer-description {
	font-size: 14px;
}

.preorder-room__bottom > div {
	position: relative;
}

@media only screen and (max-width: 992px) {
	.preorder-room__step-2 {
		flex-direction: column;
		align-items: center;
	}
	
	.preorder-room__total-places {
		position: relative;
		top: -50px;
		left: 0;
		order: 2;
	}
}

@media only screen and (max-width: 768px) {
	.preorder-room__step-3 .preorder-room__col-title, 
	.preorder-room__step-3 .preorder-room__prop-value {
		padding-left: 0;
	}

	.preorder-room__step-3 .preorder-room__prop {
		margin-bottom: 0;
	}

	.preorder-room__prop .form-item h5,
	.preorder-room__prop .form-item label,
	.preorder-room__prop .form-item .label {
		text-align: center;
	}

	.preorder-room__prop .form-item__amount .form-item__amount-field {
		justify-content: center;
	}

	.preorder-room__footer-description {
		margin-bottom: 50px;
	}

	.preorder-room__total-places {
		margin-top: 40px;
	}
}

/* loader */

.loader-wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.loader {
	position: relative;
	margin: 75px auto;
	width: 150px;
	height: 150px;
	display: block;
	overflow: hidden;
	border-radius: 50%;
	padding: 8px;
	will-change: transform;
	border: 2px solid transparent;
	animation: rotate linear 3.5s infinite;
	border-top-color: #67D278;
	border-bottom-color: #C29239;
}

.loader div {
	height: 100%;
	border-radius: 50%;
	padding: 8px;
	border: 2px solid transparent;
	will-change: transform;
	border-top-color: #67D278;
	border-bottom-color: #C29239;
	animation: rotate linear 3.5s infinite;
}

.loader div:hover {
	animation-play-state: paused;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotate2 {
	0% {
		transform: rotate(0deg);
		border-top-color: #67D278;
	}
	50% {
		transform: rotate(180deg);
		border-top-color: #C29239;
	}
	100% {
		transform: rotate(360deg);
		border-top-color: #67D278;
	}
}