@font-face
  font-family: 'Oswald'
  src: url('../fonts/Oswald/Oswald-Regular.woff2') format("woff2"), url('../fonts/Oswald/Oswald-Regular.woff') format("woff"), url('../fonts/Oswald/Oswald-Regular.ttf') format("truetype")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Oswald'
  src: url('../fonts/Oswald/Oswald-Light.woff2') format("woff2"), url('../fonts/Oswald/Oswald-Light.woff') format("woff"), url('../fonts/Oswald/Oswald-Light.ttf') format("truetype")
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Lato'
  src: url('../fonts/Lato/Lato-Black.woff2') format("woff2"), url('../fonts/Lato/Lato-Black.woff') format("woff"), url('../fonts/Lato/Lato-Black.ttf') format("truetype")
  font-weight: 900
  font-style: normal

@font-face
  font-family: 'Lato'
  src: url('../fonts/Lato/Lato-Regular.woff2') format("woff2"), url('../fonts/Lato/Lato-Regular.woff') format("woff"), url('../fonts/Lato/Lato-Regular.ttf') format("truetype")
  font-weight: normal
  font-style: normal
