@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------




.header
	display: flex
	align-items: center
	justify-content: space-between
	padding: 18px 80px
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.06)

	&-left
		display: flex
		align-items: center
		flex-wrap: wrap

		.weather
			padding: 0 60px 0 30px
			display: flex
			align-items: center
			font-size: 10px
			line-height: 14px

			&-temperature
				padding-right: 4px
				font-family: 'Oswald'
				font-style: normal
				font-weight: 300
				font-size: 24px
				line-height: 36px

			&-state
				padding-left: 12px

	&-right
		display: flex
		align-items: center

		>.btn
			margin: 0 40px

	&-tel
		text-align: right

		&__number
			display: block
			font-size: 16px
			line-height: 28px

		&__question
			color: #C29239
			font-size: 10px
			line-height: 14px
			text-transform: uppercase
			border-bottom: 1px dashed

		

	&-fixed
		background: rgba(255, 255, 255, 0.9)
		box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.06)
		backdrop-filter: blur(15px)
	


	
.main-menu

	>ul
		list-style: none

		>li
			display: inline-block
			padding: 0 25px

			&:first-child
				padding-left: 0

			&:last-child
				padding-right: 0

			>a
				display: inline-block
				font-size: 14px
				line-height: 20px
				color: #767676

				&:hover, &:focus, &.active
					color: #2E1F04
					opacity: 1



.color-grey
	color: #767676


.btn
	position: relative
	display: inline-block
	padding: 11px 35px 11px
	font-size: 10px
	line-height: 12px
	background: $green
	border: none
	border-radius: 2px
	color: #fff
	text-align: center
	outline: none
	text-transform: uppercase
	white-space: normal

	&:hover, &:focus
		color: #fff
		outline: none

	&-transparent
		padding: 11px 21px 11px
		color: #000
		border: 1px solid #CACACA
		background-color: transparent
		
		&:hover, &:focus
			color: #000

	&-grey
		background: #EEEEEE
		color: #000

		&:hover, &:focus
			color: #000

	&-brown
		background: #2E1F04
		color: #fff

		&:hover, &:focus
			color: #fff
	

.burger-menu
	padding: 10px 14px
	display: flex
	align-items: center
	background: transparent
	border: none
	border-radius: 2px
	background: #F7F7F7
	&:focus
		outline: none

	&__captions
		padding-right: 6px
		font-size: 10px
		line-height: 12px
		text-transform: uppercase

	&__wrap
		width: 15px
		span
			position: relative
			width: 100%
			display: block
			height: 1px
			margin-bottom: 3px
			background: #000
			transition: all 500ms ease-in-out
			&:nth-child(2)
				width: 13px
			&:last-child
				width: 6px
				margin-bottom: 0
	&.active
		.burger-menu__wrap
			span
				&:nth-of-type(1)
					top: 4px
					transform: rotate(45deg)
				&:nth-of-type(2)
					background-color: transparent
				&:nth-of-type(3)
					width: 100%
					top: -4px
					transform: rotate(-45deg)


.page-menu
	display: none
	position: absolute
	top: 0
	right: 0
	bottom: 0
	width: 500px
	
	background: #fff
	box-shadow: -10px 0px 100px rgba(0, 0, 0, 0.1)
	z-index: 999

	&__wrap
		width: inherit
		height: calc(100vh - 130px)
		overflow: hidden
		clip-path: inset(0 0 0 0)


		>ul
			position: fixed
			width: inherit
			top: 38px
			right: 0
			padding: 38px 100px 68px
			list-style: none
			transition: all .3s

			


			&.opened
				transform: translate(100%,0)

				>li.dropdown-opened
					
					>ul
						display: block
						width: 100%

						


			>li
				margin-bottom: 24px

				&.dropdown
					>span
						position: relative
						display: inline-block
						padding-right: 15px

						&::before
							content: ''
							position: absolute
							top: 15px
							right: 0
							width: 9px
							height: 14px
							background: url(../img/angle-left.svg)
					
					>ul
						display: none
						position: fixed
						top: 38px
						right: 100%
						padding: 38px 100px 68px
						transition: all .3s
						list-style: none

						>li
							margin-bottom: 10px

							&.back
								margin-top: 50px
								font-size: 30px

								>span
									position: relative
									display: inline-block
									padding-left: 15px

									&::before
										content: ''
										position: absolute
										left: 0
										top: 13px
										width: 9px
										height: 14px
										background: url(../img/angle-left.svg)
										transform: scale(-1,1)
							>a
								font-size: 26px
								line-height: 36px
								font-family: "Oswald"
								cursor: pointer
								color: #5D5D5D

								&:hover
									color: #000
									opacity: 1
									text-decoration: underline

				>a, span
					font-size: 26px
					line-height: 36px
					font-family: "Oswald"
					cursor: pointer
					color: #5D5D5D

					&:hover
						color: #000
						opacity: 1
						text-decoration: underline

	&__bottom
		padding: 40px 100px 68px
		border-top: 1px solid #EEEEEE

		a

			font-family: Oswald
			font-weight: 300
			font-size: 30px
			line-height: 40px


.overflow-hidden
	overflow: hidden

.color-grey
	color: #5D5D5D



.close-mmenu
	position: absolute
	right: 80px
	top: 30px
	outline: none
	background-color: transparent
	border: none
	z-index: 999

	>span
		display: inline-block
		padding: 0
		padding-right: 8px
		vertical-align: middle
		font-size: 10px
		color: #000
		text-transform: uppercase

	


.icon-cross
	display: inline-block
	vertical-align: middle
	width: 12px
	height: 12px
	background: url(../img/cross.svg)



.home
	position: relative
	display: flex
	align-items: center
	min-height: calc(100vh - 93px)

	&-slider
		height: 100%
		display: flex
		align-items: center
		justify-content: center

		&__item
			position: relative
			text-align: center
			outline: none

			&--overlay
				position: relative
				z-index: 10
				

			&--text
				margin-top: 10vh

				h5
					max-width: 654px
					margin: 0 auto 15px
					text-align: center

			&--title
				max-width: 740px
				margin: 0 auto 20px
				text-align: center
				font-size: 60px
				line-height: 70px
				font-family: 'Oswald'
				color: #2E1F04

			&--subtitle
				font-size: 16px
				line-height: 28px
				color: #767676
				text-transform: uppercase

			&--count
				position: absolute
				right: 80px
				top: 0
				bottom: 0
				height: 100%
				margin: auto
				display: flex
				flex-direction: column
				justify-content: center
				z-index: 10

				>span
					font-weight: 300
					font-family: "Oswald"
					font-size: 24px
					line-height: 36px
					color: #2E1F04

					&:first-child
						padding-bottom: 2spx
						color: #fff

					&:last-child
						border-top: 1px solid #ECECEC
						color: #CACACA




			>img
				max-height: 100%
				position: absolute
				left: 0
				right: 0
				bottom: 0
				width: 100%


			&--more
				position: relative
				margin-top: 15px
				padding-top: 35px

				&::before
					content: ''
					position: absolute
					left: 0
					right: 0
					top: 0
					margin: auto
					width: 1px
					height: 20px
					background: #BCBDC0

				>span
					display: block
					margin-bottom: 15px
					font-size: 10px
					line-height: 12px
					text-transform: uppercase
					color: #2E1F04
				
			&--link
				width: 35px
				height: 35px
				margin: 0 auto
				display: flex
				align-items: center
				justify-content: center
				background: #2E1F04



		&__wrap
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0

		&__nav
			position: relative
			z-index: 10
			max-width: 300px
			margin-bottom: 100px

	.slick-list, .slick-track
		height: 100%




.icon
	position: relative
	display: inline-block

	&::before
		content: ''
		display: block

	&-arrow-top
		&::before
			width: 7px
			height: 41px
			background: url(../img/arrow-top.png)

	&-arrow-bottom
		&::before
			width: 7px
			height: 41px
			background: url(../img/arrow-bottom.png)

	&-arrow-bottom__white
		&::before
			width: 5px
			height: 14px
			background: url(../img/arrow-down.png) no-repeat



.banner
	padding-bottom: 60px

	img
		display: block
		margin: 0 auto


.section

	h1
		margin-bottom: 30px
		text-align: center

	&-header
		margin-bottom: 120px
		text-align: center

		h5
			max-width: 860px
			margin: 0 auto

section

	h2
		margin-bottom: 60px
		text-align: center



		

.image-item
	max-width: 1310px
	margin: 0 auto 120px



	h2
		margin-bottom: 20px

	p
		margin-bottom: 20px
		font-size: 16px
		line-height: 28px

	&__img
		position: relative

	&__position
		position: absolute
		left: -40%
		bottom: -40%

	&__text

		h2
			text-align: left

		>img
			display: block
			margin: 0 0 30px

		&--link
			display: inline-block
			font-size: 14px
			line-height: 20px
			color: #C29239
			border-bottom: 1px dashed

		ul
			list-style: none

			li
				margin-bottom: 10px
				font-size: 16px
				line-height: 28px

	.btn
		padding-top: 20px
		padding-bottom: 20px




.footer

	&-home
		position: absolute
		left: 0
		right: 0
		bottom: 0
		padding-bottom: 38px
		color: #EEEEEE
		font-size: 12px
		line-height: 14px


		&__copy
			color: #EEEEEE
			font-weight: 300

			a
				color: #EEEEEE

		&__soc
			font-weight: 300
			list-style: none

			li
				display: inline-block
				margin: 0 10px

				a
					font-family: Oswald
					font-size: 16px
					line-height: 28px
					color: #fff

		&__dev
			>a
				display: inline-block
				padding-left: 6px
				vertical-align: middle

				img
					display: inline-block


	&-wrap
		text-align: center

	&-logo
		display: inline-block
		margin-bottom: 20px

	&-text
		margin-bottom: 30px
		font-size: 16px
		line-height: 28px

	&-contacts
		display: flex
		align-items: center
		justify-content: center
		margin-bottom: 100px

		&__item
			margin-left: 15px
			margin-right: 15px

	&-bottom
		display: flex
		align-items: center
		justify-content: space-between
		padding: 0 80px 35px
		font-size: 12px
		line-height: 14px	
		
		&__copy
			color: #767676

			a
				color: #767676
			
		&__address
			color: #000

		&__dev
			color: #767676

			a
				display: inline-block
				vertical-align: middle
				margin-left: 5px


.room

	&-links
		margin-bottom: 120px

	&-item
		position: relative
		padding-left: 225px
		min-height: 360px
		margin-bottom: 120px

		&:nth-child(even)
			padding-left: 0
			padding-right: 225px

			.room-item__overlay
				left: auto
				right: 0

		>img


		&__overlay
			position: absolute
			left: 0
			top: 0
			bottom: 0
			display: flex
			align-items: center
			justify-content: center
			margin: auto
			width: 430px
			height: 360px
			box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08)
			border-radius: 2px
			background: #fff
			z-index: 10
			text-align: center

			
			&--text
				padding-left: 45px
				padding-right: 45px

				h2
					margin-bottom: 25px
					color: #000

				p
					margin-bottom: 25px
					font-size: 14px
					line-height: 24px


.icon-block
	margin-bottom: 80px

	&__wrap
		display: flex
		flex-wrap: wrap

	&__item
		margin-bottom: 50px
		text-align: center

		img
			display: block
			margin: 0 auto 20px


.gallery
	margin-bottom: 120px

	&-slider
		max-width: 1310px
		margin: 0 auto

		.slick-arrow
			width: 50px
			height: 50px
			display: flex
			align-items: center
			justify-content: center
			background: #2E1F04
			z-index: 10

			&::before
				content: ''

			&.slick-prev
				&::before
					width: 21px
					height: 8px
					background: url(../img/prev.png)
					opacity: 1

			&.slick-next
				&::before
					width: 21px
					height: 8px
					background: url(../img/next.png)
					opacity: 1


.rates
	padding: 0 0 60px

	h2
		margin-bottom: 20px

	h5
		margin-bottom: 30px
		text-align: center

	&-item
		padding: 30px 0
		margin-bottom: 18px
		border-top: 1px solid #CACACA
		border-bottom: 1px solid #CACACA


		.form-item
			position: relative
			margin-bottom: 0

			input
				border-width: 0

			&.datetimepicker
				input
					border-width: 1px

		.footnote
			margin-top: -10px

		&__center

			&--wrap
				max-width: 400px
				display: flex
				flex-wrap: wrap
				justify-content: space-between

			&--left
				width: 65%

				.row
					margin-bottom: 25px

		&__right
			text-align: right

			.rates-info
				text-align: left

			.btn
				width: 100%


	&-header
		margin-bottom: 2px
		font-size: 10px
		line-height: 14px
		text-transform: uppercase
		color: #8E8E8E

		&__big
			font-size: 16px

	&-value
		font-size: 16px
		line-height: 28px
		color: #2E1F04


	&-info
		margin-bottom: 15px

		&__header
			font-size: 15px
			line-height: 22px
			color: #8E8E8E
			text-transform: uppercase

		&__value
			font-size: 24.96px
			line-height: 44px
			color: #2E1F04	

	.btn
		padding: 18px 30px 18px
		max-width: 260px


.count
	display: inline-flex
	font-size: 16px

	&-btn
		width: 20px
		display: flex
		align-items: center
		justify-content: center
		padding: 0
		background-color: transparent
		outline: none
		border: none
		color: #2E1F04





.form

	&-item
		margin-bottom: 30px

		&__title
			font-size: 10px
			line-height: 14px
			color: #767676
			text-transform: uppercase

		&__value
			font-size: 16px
			line-height: 28px
			color: #2E1F04



		>label
			display: block
			font-size: 10px
			line-height: 14px
			color: #767676
			text-transform: uppercase

		input:not([type='checkbox']), input:not([type='radio'])
			width: 100%
			height: 28px
			font-size: 16px
			color: #2E1F04
			border: none
			outline: none
			border-bottom: 1px solid #CACACA

			&.form-item__tel
				font-size: 28px

		&__check

			input[type='checkbox']
				display: none
				position: absolute
				left: -9999px

				&+label
					position: relative
					display: inline-block
					padding: 0 0 0 28px
					font-size: 16px
					line-height: 28px
					color: #2E1F04
					text-transform: none

					&::before
						content: ''
						position: absolute
						left: 0
						top: 4px
						width: 20px
						height: 20px
						border-radius: 50%
						border: 1px solid #D7D7D7

				&:checked

					&+label
						&::before
							background-image: url(../img/check.svg)
							background-repeat: no-repeat
							background-position: center

		&__radio
			display: inline-block
			vertical-align: middle
			input[type='radio']
				display: none
				position: absolute
				left: -9999px

				&+label
					position: relative
					display: inline-block
					padding: 0 0 0 28px
					font-size: 16px
					line-height: 28px
					color: #2E1F04
					text-transform: none

					&::before
						content: ''
						position: absolute
						left: 0
						top: 4px
						width: 20px
						height: 20px
						border-radius: 50%
						border: 1px solid #D7D7D7

				&:checked

					&+label
						&::before
							background-image: url(../img/check.svg)
							background-repeat: no-repeat
							background-position: center


			.color-main
				padding-left: 10px



.jq-selectbox
	width: 100%
		

	.jq-selectbox__select
		

	.jq-selectbox__select-text
		position: relative
		padding: 10px 20px 5px 0
		width: 100%
		font-size: 16px
		line-height: 20px
		border-bottom: 1px solid #CACACA


		&::after
			content: ''
			position: absolute
			right: 0
			top: 19px
			display: block
			background-image: url(../img/drop-ic.svg)
			background-repeat: no-repeat
			width: 12px
			height: 12px

	&.opened
		.jq-selectbox__select-text
			&::after
				transform: rotate(180deg)

	.jq-selectbox__dropdown 
		top: 36px!important
		left: 0!important
		z-index: 999
		min-width: 100%
		max-width: 100%
		background: #fff


		ul
			max-height: 145px !important
			padding: 5px 0
			background: #fff
			list-style: none
			box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.12)
			border-top: none

			li
				padding: 10px 20px
				font-size: 16px
				line-height: 19px
				transition: all .3s
				color: #222
				border-bottom: 1px solid #BCBDC0

				&:last-child
					border-bottom: 0



			&::-webkit-scrollbar-track
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
				background-color: #F5F5F5


			&::-webkit-scrollbar
				width: 8px
				
				border-radius: 2px


			&::-webkit-scrollbar-thumb
				border-radius: 10px
				background: #c29239


.footnote
	margin-top: 10px
	text-transform: uppercase
	font-size: 10px
	line-height: 14px
	color: #767676

	a
		color: #5D5D5D
		border-bottom: 1px dashed #5D5D5D


.datetimepicker
	position: relative
	
	&::after
		content: ''
		position: absolute
		right: 0
		top: 30px
		display: block
		background-image: url(../img/drop-ic.svg)
		background-repeat: no-repeat
		width: 12px
		height: 12px

	>label
		margin-bottom: 8px


.color-main
	color: $main

.question-hover
	position: absolute
	top: 5px
	right: 0

	&__icon
		display: inline-block
		width: 16px
		height: 16px
		background: url(../img/question-circle.svg)
		cursor: pointer

	&__text
		position: absolute
		right: -20px
		bottom: 100%
		margin-bottom: 5px
		display: none
		padding: 10px
		border: 1px solid #cacaca
		z-index: 10
		font-size: 12px
		width: 120px
		background: #fff


.vertical-align-top
	align-items: flex-start

.contacts

	&-top
		margin-bottom: 120px
		text-align: center

		&__item
			margin-bottom: 10px
			font-size: 16px
			line-height: 28px

	&-wrap
		margin-bottom: 120px
		text-align: center

	&-block
		display: inline-block
		margin: 0 100px
		vertical-align: top

		h2
			margin-bottom: 30px

		h5
			margin-bottom: 10px
			font-size: 16px
			line-height: 28px
			color: #767676

		h6
			font-size: 10px
			line-height: 14px
			color: #767676
			text-transform: uppercase


		&__tel
			display: block
			margin-bottom: 10px
			font-family: 'Oswald'
			font-weight: 300
			font-size: 30px
			line-height: 40px

	&-map
		margin-bottom: 120px
		text-align: center

		h2
			margin-bottom: 20px

	&-tabs
		text-align: center

		h2
			margin-bottom: 30px



.soc-btn
	display: inline-block
	margin: 0 10px
	font-family: "Oswald"


.tabs

	&-nav
		margin-bottom: 30px
		list-style: none

		li
			display: inline-block
			margin-right: 40px

			&:last-child
				margin-right: 0

			a
				display: block
				padding: 10px 15px
				width: 160px
				font-size: 10px
				line-height: 14px
				background: #ECECEC
				text-transform: uppercase
				text-align: center
				border-radius: 2px
			
				&.active
					color: #FFF
					background: #2E1F04

				&:hover, &:focus
					opacity: 1

	&-item
		display: none
		margin-bottom: 120px
		text-align: center

		h3
			margin-bottom: 20px
			font-weight: 300
			font-size: 30px
			line-height: 40px

		&.active
			display: block

	&-mobile__btn
		display: none




.no-banner
	padding: 60px 0 0

	h1
		margin-bottom: 60px


.services
	margin-bottom: 120px

	&-item
		display: flex
		flex-direction: column
		justify-content: space-between
		min-height: 332px
		padding: 50px
		box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08)
		border-radius: 2px
		transition: all .3s

		&:hover
			background: #2E1F04

			h2
				color: #fff

			.btn
				background: #fff

				&:hover, &:focus
					opacity: 1
					font-size: 12px

		h2
			margin-bottom: 30px
			transition: all .3s

		.btn
			max-width: 160px


.order-form
	max-width: 860px
	margin: 0 auto 120px


.cyber-nevod__icon
	display: inline-block
	vertical-align: middle
	width: 73px
	height: 11px
	background: url(../img/logo_CN-white.svg)




.preorder

	&-room
		

		h3
			margin-bottom: 25px
			font-family: 'Oswald'
			font-weight: 300
			font-size: 30px
			line-height: 40px
			color: #C29239
			text-align: center

		h4
			margin-bottom: 25px
			font-size: 18px
			font-weight: 600
			text-transform: none

		&__item
			max-width: 450px
			margin: 0 auto 60px

			.form-item
				margin-bottom: 0

			.footnote
				margin-top: 10px

		&__bottom
			max-width: 860px
			margin: 0 auto 120px

			.btn
				padding: 17px 0
				width: 185px




	&-conferences
		

		&__item
			max-width: 860px
			margin: 0 auto 30px

			.form-item
				margin-bottom: 0

			.justify-align
				align-items: flex-end

				.form-item
					width: 185px
					margin-bottom: 0

		&__total
			padding: 30px 0 60px

			&--price
				display: inline-block
				padding-right: 10px
				vertical-align: bottom
				font-family: Oswald
				font-style: normal
				font-size: 46px
				line-height: 56px

		&__bottom
			margin-bottom: 120px

			.btn
				width: 300px
				padding-top: 22px
				padding-bottom: 22px
				font-size: 14px

			>span
				display: inline-block
				padding-left: 20px
				text-transform: uppercase
				font-size: 10px
				line-height: 14px
				color: #5D5D5D





.del-btn
	display: inline-block
	padding: 0
	font-size: 16px
	line-height: 28px
	border: none
	outline: none
	background-color: transparent
	color: #C23939

.add-btn
	display: inline-block
	padding: 0
	font-size: 10px
	line-height: 14px
	border: none
	border-bottom: 1px dashed
	text-transform: uppercase
	outline: none
	background-color: transparent
	color: #C29239


.modal
	max-width: 550px
	padding: 80px 90px


	.fancybox-close-small
		background: #EEEEEE

	&-title
		font-family: 'Oswald'
		font-size: 60px
		line-height: 70px

	&-subtitle
		margin-bottom: 40px
		font-family: 'Oswald'
		font-size: 30px
		line-height: 40px

	.btn
		width: 100%
		padding: 16px 30px
		font-size: 14px

















































@media only screen and (max-width: 1919px)
	.header-left 
		.weather
			display: none

	.header-right
		>.btn
			margin: 0 25px

	.main-menu
		>ul
			>li
				padding: 0 10px

				>a
					font-size: 12px

	.header-tel__number
		font-size: 14px
		line-height: 20px

	h1
		font-size: 50px

	h2
		font-size: 40px
		line-height: 50px

	.home-slider__item--title
		font-size: 45px
		line-height: 55px

	.home-slider__item--text h5
		max-width: 560px

	.page-menu__wrap>ul>li
		margin-bottom: 12px

	.page-menu__wrap>ul>li.dropdown>
		span
			&::before
				top: 9px

	.page-menu__wrap>ul>li span, .page-menu__wrap>ul>li>a, .page-menu__wrap>ul>li.dropdown>ul>li>a
		font-size: 20px
		line-height: 26px

	.page-menu__wrap>ul>li.dropdown>ul>li.back>span::before
		top: 8px



	.page-menu__bottom, .page-menu__wrap>ul
		padding: 30px 60px 40px


	.footer-bottom
		padding-left: 30px
		padding-right: 30px


	.footer-bottom__address
		padding-left: 30px
		padding-right: 30px


	.services-item
		min-height: 260px

		h2
			font-size: 26px
			line-height: 36px


	.container
		padding-left: 80px
		padding-right: 80px














@media only screen and (max-width: 1365px)
	.main-menu
		>ul
			>li
				padding: 0 10px

				>a
					font-size: 11px

	.container
		padding-left: 30px
		padding-right: 30px

	.home-slider__item--subtitle
		font-size: 14px

	.header
		padding-left: 30px
		padding-right: 30px

	.gallery-slider
		margin: 0 30px


	.contacts-top, .contacts-wrap
		margin-bottom: 50px







































@media only screen and (max-width: 1279px)
	.main-menu
		display: none

	.cm-container
		left: -470px

	.home-slider__item--title
		font-size: 36px
		line-height: 46px
		max-width: 520px

	.home-slider__item--text h5
		max-width: 480px
		font-size: 14px
		line-height: 20px

	.container
		padding-left: 20px
		padding-right: 20px


	.services-item
		padding: 30px

	.room-links
		margin-bottom: 50px
		display: block

		>a
			display: inline-block
			margin: 0 5px 10px










































@media only screen and (max-width: 992px)
	
	.home-slider__item>img
		display: none

	.home-slider
		margin-bottom: 50px

		.slick-dots
			bottom: 40px

			li
				width: 10px
				height: 10px
				border: 1px solid $main
				border-radius: 50%

				&.slick-active
					background: $main
				button
					&:before
						content: ''

	.cm-container
		top: -40px
		left: 0
		width: 100px
		height: 100px
		border: none
		.cm-selected-container
			top: 50%

	.cm-items
		display: none

	.cm-selected-label
		display: none

	.footer-home
		position: static
		padding-bottom: 20px
		color: #000

		&__copy
			color: #000
			a
				color: #000

		&__soc
			li 
				a
					color: #000

		.cyber-nevod__icon
			position: relative
			top: -1px
			background: url(../img/logo_CN.svg)


	.page-menu__bottom, .page-menu__wrap>ul
		padding: 15px 60px 30px

	
	.home
		min-height: 500px


	.contacts-block
		margin: 0 50px

	.room-item
		min-height: auto
		padding: 0
		margin-bottom: 80px

		&:nth-child(even)
			padding: 0

	.room-item__overlay
		position: static
		width: auto
		height: auto
		box-shadow: none

		&--text
			padding: 15px 0 0


	.rates-item
		text-align: center

		&__right
			text-align: center

	.rates-item__center--wrap
		margin: 10px auto 10px






































@media only screen and (max-width: 768px)

	.container
		padding-left: 15px
		padding-right: 15px
	
	.header-tel
		display: none

	.home-slider__wrap
		left: 40px

	.cm-container .cm-selected-container .cm-button.cm-button-prev,
	.cm-container .cm-selected-container .cm-button.cm-button-next
		right: 100px

	.header-right>.btn
		margin: 0 15px
	
	.header
		padding: 10px 15px

		.btn
			padding: 10px 15px 10px

	.home-slider__item--overlay
		padding: 0 15px

	.home-slider__item--text
		margin-top: 5vh

	.footer-home
		.justify-align
			display: block
			text-align: center
	.footer-home__soc
		margin: 10px 0

	.close-mmenu
		right: 15px
		top: 20px

	.page-menu__bottom, .page-menu__wrap>ul,
	.page-menu__wrap>ul>li.dropdown>ul
		padding: 15px 15px 15px

	.page-menu
		width: 70%

	.page-menu__wrap>ul>li span, .page-menu__wrap>ul>li.dropdown>ul>li>a, .page-menu__wrap>ul>li>a
		font-size: 16px
		line-height: 20px

	.page-menu__wrap>ul>li.dropdown>span::before
		top: 5px

	.page-menu__wrap>ul>li.dropdown>ul>li.back>span::before
		top: 4px

	.page-menu__bottom a
		font-size: 24px
		line-height: 40px

	.page-menu__wrap
    	height: calc(100vh - 100px)

	    >ul
	    	height: calc(100% - 120px)
	    	overflow-y: scroll


	    	&.opened
	    		overflow-y: initial

	.page-menu__wrap>ul>li.dropdown>ul
		top: 0
		height: 100%
		overflow-y: scroll



	.banner
		padding-bottom: 30px

	h1
		font-size: 36px
		line-height: 46px

	.section-header
		margin-bottom: 50px

	.image-item__position
		display: none

	.image-item
		text-align: center

		.row-flex
			flex-direction: column

	.image-item__img
		margin-bottom: 30px
		text-align: center

	h2
		font-size: 30px
		line-height: 38px

	.image-item
		margin-bottom: 50px

	
	.image-item__wrap
		
		.image-item
			margin-bottom: 50px

			&:nth-child(even)
				.row-flex
					flex-direction: column-reverse
				
	.image-item__text
		p
			&:last-child
				margin-bottom: 0

	.footer
		text-align: center
		&-logo
			margin-bottom: 15px

		&-text
			margin-bottom: 15px

		&-contacts
			display: inline-block
			margin-bottom: 15px

			a
				display: inline-block

			>span
				display: block
				margin: 10px 0
	


	.image-item__text
		h2
			text-align: center
		>img
			margin: 0 auto 30px

	.row
		margin-left: -15px
		margin-right: -15px

		[class^=col-]
			padding-left: 15px
			padding-right: 15px
			
	.row-flex
		[class^=col-]
			width: 100%


	.footer-bottom
		padding: 0 15px 20px
		display: block

		>span
			padding: 0
			display: block
			margin: 10px 0

	section.gallery
		margin-bottom: 50px
		h2
			margin-bottom: 20px

	.contacts-wrap
		margin-bottom: 0

	.contacts-block
		margin: 0 0 30px

		&__tel
			font-size: 26px
			line-height: 30px

	.contacts-map
		margin-bottom: 50px

	.tabs-nav li
		margin-right: 10px
		
		a
			width: 86px
			font-size: 9px
			padding: 10px 0


	.tabs-item
		margin-bottom: 50px

		h3
			font-size: 20px
			line-height: 28px


	.services-item
		margin-bottom: 30px

	.services
		margin-bottom: 50px

	h5
		font-size: 14px
		line-height: 22px

	.icon-block
		margin-bottom: 30px

	.preorder-room 

		h3
			font-size: 24px

		h4
			margin: 20px 0
			text-align: center


		&__item 

			.footnote
				margin-top: -10px
			.form-item
				margin-bottom: 20px

	.preorder-conferences
		padding-bottom: 50px


	.preorder-room__item
		margin: 0 auto

	.preorder-conferences__item 
		margin-bottom: 0

		>.form-item
			margin-bottom: 30px

		.footnote
			margin: 0

		.row
			[class^="col"]
				margin-bottom: 30px


		.add-btn
			margin-bottom: 30px



	.form-item input:not([type=checkbox]).form-item__tel, .form-item input:not([type=radio]).form-item__tel
		font-size: 20px


	.preorder-conferences__bottom 
		.btn
			display: block
			width: auto
			max-width: 290px

		>span
			padding: 10px 0 0

	.preorder-conferences__total
		padding: 30px 0 30px


	.modal
		max-width: 90%
		padding: 30px

		&-title
			font-size: 30px

		&-subtitle
			margin-bottom: 30px
			font-size: 20px
			line-height: 28px

		&-body
			padding: 0







































@media only screen and (max-width: 479px)

	.home-slider__item--title
		font-size: 22px
		line-height: 28px


	.home-slider__item--text h5
		font-size: 12px
		line-height: 18px

	.home-slider .slick-dots
		bottom: 20px

	.burger-menu__captions
		display: none

	h1
		font-size: 28px
		line-height: 36px

	h2
		font-size: 28px
		line-height: 34px

	.gallery-slider .slick-arrow
		width: 30px
		height: 30px

	.no-banner
		padding: 30px 0 0

		h1
			margin-bottom: 40px

	.room-links>a
		display: block

	.preorder-room__bottom
		display: block

		.btn
			width: 80%
			display: block
			margin: 0 auto 15px

	.preorder-conferences__total--price
		font-size: 34px

		&+span
			font-size: 14px
			display: block




